<div id="plant-{{ post_day }}">
    <div class="wp-block-columns plant-main">
        <div class="wp-block-column" style="flex-basis:50%">
            <figure class="wp-block-image size-large is-style-default plant-fig">
                <img src= "{{ imgsrc }}" alt="This plant's image" class="wp-image-29 plant-img"/>
                <figcaption>
                    <i>{{ name }}</i>. See image source <a href="{{ img }}">here</a>.
                </figcaption>
            </figure>
        </div>
        <div class="wp-block-column" style="flex-basis:50%">
            <p></p><p></p><p></p>
            <p class="plant-text">
                <span class="plant-number">#{{ post_day }} </span>They called me {% if wiki == None %}<i>{{ name }}</i>{% else %}<i><a href="{{ wiki }}" class="plant-wiki">{{ name }}</a></i>{% endif %}{% if synonyms != '' %}, also known as {{ synonyms }}{% else %}{% endif %}{% if ', and' in men %}. I pay homage to the male botanists <span class="botanist-wiki">{{ men }}</span>{% else %}. I pay homage to the male botanist <span class="botanist-wiki">{{ men }}</span>{% endif %}. They first catalogued me in {{ year }}.
            </p>
        </div>
    </div>
    <div class="plant-widget"></div>
    <p class="has-text-align-center plant-footer"><strong><span class="has-inline-color has-primary-color">Native to </span></strong>{{ countries }}</p>
</div>