absl-py==0.10.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appdirs==1.4.4
argon2-cffi @ file:///C:/ci/argon2-cffi_1596828549974/work
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid==2.2.5
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8==1.5.7
Babel @ file:///tmp/build/80754af9/babel_1605108370292/work
backcall==0.2.0
backports.entry-points-selectable==1.1.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bitarray @ file:///C:/ci/bitarray_1605065253308/work
bkcharts==0.2
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blis @ file:///C:/ci/cython-blis_1594248830923/work
bokeh @ file:///C:/ci/bokeh_1603297932359/work
boto==2.49.0
boto3==1.9.66
botocore==1.12.67
Bottleneck==1.3.2
brotlipy==0.7.0
CacheControl==0.12.6
cachetools==4.1.1
cachy==0.3.0
catalogue==1.0.0
category-encoders==2.2.2
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1605538148575/work
chardet @ file:///C:/ci/chardet_1605303259695/work
cleo==0.8.1
click==7.1.2
clikit==0.6.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
comtypes==1.1.7
conda==4.9.2
conda-build==3.18.8
conda-package-handling @ file:///C:/ci/conda-package-handling_1603018162806/work
conda-verify==3.4.2
configparser==5.0.1
contextlib2==0.6.0.post1
crashtest==0.3.1
crayons==0.4.0
cryptography @ file:///C:/ci/cryptography_1605544557248/work
cycler==0.10.0
cymem @ file:///C:/ci/cymem_1605062363169/work
Cython @ file:///C:/ci/cython_1605457674480/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
distlib==0.3.1
distributed @ file:///C:/ci/distributed_1605066566400/work
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.2
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
future==0.18.2
gast==0.3.3
gevent @ file:///C:/ci/gevent_1601397624717/work
glob2==0.7
google-auth==1.21.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet @ file:///C:/ci/greenlet_1600874076725/work
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
hypothesis @ file:///tmp/build/80754af9/hypothesis_1606145406157/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata==1.7.0
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1604101327119/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.11.2
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core @ file:///C:/ci/jupyter_core_1606130908768/work
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras-Preprocessing==1.1.2
keyring @ file:///C:/ci/keyring_1601488971022/work
kiwisolver @ file:///C:/ci/kiwisolver_1603996595157/work
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1597440772084/work
libarchive-c==2.9
lightgbm==3.1.1
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
loguru==0.5.3
lxml @ file:///C:/ci/lxml_1603216364379/work
Markdown==3.2.2
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
matplotlib @ file:///C:/ci/matplotlib-base_1603356257853/work
mccabe==0.6.1
menuinst==1.4.16
mistune @ file:///C:/ci/mistune_1594373272338/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
murmurhash==1.0.2
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601914921407/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nlp==0.4.0
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose @ file:///C:/ci/nose_1594377973236/work
notebook @ file:///C:/ci/notebook_1601494955742/work
numba==0.51.2
numexpr==2.7.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1603468620949/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
oauthlib==3.1.0
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
packaging==20.4
pandas @ file:///C:/ci/pandas_1602088205210/work
pandocfilters @ file:///C:/ci/pandocfilters_1605102427207/work
parso @ file:///tmp/build/80754af9/parso_1596826841367/work
partd==1.1.0
pastel==0.2.1
path @ file:///C:/ci/path_1596940809557/work
pathlib2 @ file:///C:/ci/pathlib2_1594381094851/work
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow @ file:///C:/ci/pillow_1603821929285/work
pkginfo==1.6.1
plac @ file:///C:/ci/plac_1594257364512/work
platformdirs==2.0.2
pluggy==0.13.1
ply==3.11
poetry==1.1.5
poetry-core==1.0.2
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.13.0
psutil @ file:///C:/ci/psutil_1598352273540/work
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycurl==7.43.0.6
pyee==7.0.4
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pykew==0.1.3
pylev==1.3.0
pylint==2.3.1
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1605545627475/work
pyparsing==2.4.7
pyppeteer==0.2.2
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600123688363/work
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pytest==0.0.0
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus @ file:///tmp/build/80754af9/pytest-doctestplus_1598624048543/work
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-dotenv==0.18.0
python-http-client==3.3.2
python-twitter==3.5
python-wordpress-xmlrpc==2.3
pytz==2020.1
PyWavelets @ file:///C:/ci/pywavelets_1601658407053/work
pywin32==227
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1594392691209/work
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
regex @ file:///C:/ci/regex_1602782614108/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa==4.6
ruamel-yaml==0.15.87
s3transfer==0.1.13
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598376983131/work
scipy @ file:///C:/ci/scipy_1597686737426/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
selenium @ file:///C:/ci/selenium_1594408106746/work
Send2Trash==1.5.0
sendgrid==6.7.1
sentencepiece==0.1.91
shap==0.36.0
shellingham==1.4.0
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
six @ file:///C:/ci/six_1605205426665/work
slicer==0.0.3
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy @ file:///D:/bld/spacy_1594659295035/work
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy @ file:///C:/ci/sqlalchemy_1603818968375/work
srsly==1.0.2
starkbank-ecdsa==1.1.1
statsmodels==0.12.0
sympy @ file:///C:/ci/sympy_1605119633474/work
tables==3.6.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
thinc @ file:///C:/ci/thinc_1594252024716/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2020.10.1
tokenizers==0.8.1rc2
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tomlkit==0.7.0
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1605303662894/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
transformers==3.2.0
tweepy==3.10.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
unicodecsv==0.14.1
urllib3==1.24.3
virtualenv==20.6.0
wasabi @ file:///tmp/build/80754af9/wasabi_1599244993840/work
watermark==2.0.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webdriver-manager==3.2.2
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
win-unicode-console==0.5
win32-setctime==1.0.3
wincertstore==0.2
wrapt==1.12.1
xgboost==0.90
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwings==0.20.8
xlwt==1.3.0
xmltodict==0.12.0
xxhash==2.0.0
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.event==4.5.0
zope.interface @ file:///C:/ci/zope.interface_1602002496598/work
